* {
    box-sizing: border-box;
}

.wrapper {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .content {
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        padding: 20px;

        aside {
            flex-shrink: 0;
            width: 360px;
            margin-right: 20px;
            z-index: 10;
            max-height: calc(100vh - 40px - 40px);
            overflow-y: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            scrollbar-width: none;
        }

        section {
            z-index: 10;
            //height: 100%;
        }
    }

}

.transparent {
    opacity: .5;
    transition: all ease .3s;
    &:hover {
        opacity: 1;
    }
}

.side-menu-button {
    width: 100%;
    background-color: #fff;
    padding: 5px 20px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}
